Parker.Sandbox/Service References/AMSConnect/MASCAMSConnectService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MASCAMSConnectService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IMASCAMSConnectService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://masc-ams.vc3.com/eweb/webservices/MASCAMSConnectService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://masc-ams.vc3.com/eweb/webservices/MASCAMSConnectService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://masc-ams.vc3.com/eweb/webservices/MASCAMSConnectService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MASC.AMS.ClienteWeb.services.ViewModels" />
      <xsd:import schemaLocation="https://masc-ams.vc3.com/eweb/webservices/MASCAMSConnectService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MASC.AMS.ClienteWeb.services" />
      <xsd:import schemaLocation="https://masc-ams.vc3.com/eweb/webservices/MASCAMSConnectService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMASCAMSConnectService_CityConnectSignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:CityConnectSignUp" />
  </wsdl:message>
  <wsdl:message name="IMASCAMSConnectService_CityConnectSignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:CityConnectSignUpResponse" />
  </wsdl:message>
  <wsdl:message name="IMASCAMSConnectService_GetIndividual_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIndividual" />
  </wsdl:message>
  <wsdl:message name="IMASCAMSConnectService_GetIndividual_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIndividualResponse" />
  </wsdl:message>
  <wsdl:message name="IMASCAMSConnectService_PostIndividual_InputMessage">
    <wsdl:part name="parameters" element="tns:PostIndividual" />
  </wsdl:message>
  <wsdl:message name="IMASCAMSConnectService_PostIndividual_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostIndividualResponse" />
  </wsdl:message>
  <wsdl:message name="IMASCAMSConnectService_Relationships_InputMessage">
    <wsdl:part name="parameters" element="tns:Relationships" />
  </wsdl:message>
  <wsdl:message name="IMASCAMSConnectService_Relationships_OutputMessage">
    <wsdl:part name="parameters" element="tns:RelationshipsResponse" />
  </wsdl:message>
  <wsdl:message name="IMASCAMSConnectService_SetOffDebtIndividuals_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOffDebtIndividuals" />
  </wsdl:message>
  <wsdl:message name="IMASCAMSConnectService_SetOffDebtIndividuals_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOffDebtIndividualsResponse" />
  </wsdl:message>
  <wsdl:message name="IMASCAMSConnectService_Organization_InputMessage">
    <wsdl:part name="parameters" element="tns:Organization" />
  </wsdl:message>
  <wsdl:message name="IMASCAMSConnectService_Organization_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrganizationResponse" />
  </wsdl:message>
  <wsdl:portType name="IMASCAMSConnectService">
    <wsdl:operation name="CityConnectSignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IMASCAMSConnectService/CityConnectSignUp" message="tns:IMASCAMSConnectService_CityConnectSignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMASCAMSConnectService/CityConnectSignUpResponse" message="tns:IMASCAMSConnectService_CityConnectSignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIndividual">
      <wsdl:input wsaw:Action="http://tempuri.org/IMASCAMSConnectService/GetIndividual" message="tns:IMASCAMSConnectService_GetIndividual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMASCAMSConnectService/GetIndividualResponse" message="tns:IMASCAMSConnectService_GetIndividual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostIndividual">
      <wsdl:input wsaw:Action="http://tempuri.org/IMASCAMSConnectService/PostIndividual" message="tns:IMASCAMSConnectService_PostIndividual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMASCAMSConnectService/PostIndividualResponse" message="tns:IMASCAMSConnectService_PostIndividual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Relationships">
      <wsdl:input wsaw:Action="http://tempuri.org/IMASCAMSConnectService/Relationships" message="tns:IMASCAMSConnectService_Relationships_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMASCAMSConnectService/RelationshipsResponse" message="tns:IMASCAMSConnectService_Relationships_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOffDebtIndividuals">
      <wsdl:input wsaw:Action="http://tempuri.org/IMASCAMSConnectService/SetOffDebtIndividuals" message="tns:IMASCAMSConnectService_SetOffDebtIndividuals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMASCAMSConnectService/SetOffDebtIndividualsResponse" message="tns:IMASCAMSConnectService_SetOffDebtIndividuals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Organization">
      <wsdl:input wsaw:Action="http://tempuri.org/IMASCAMSConnectService/Organization" message="tns:IMASCAMSConnectService_Organization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMASCAMSConnectService/OrganizationResponse" message="tns:IMASCAMSConnectService_Organization_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IMASCAMSConnectService" type="tns:IMASCAMSConnectService">
    <wsp:PolicyReference URI="#WSHttpBinding_IMASCAMSConnectService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CityConnectSignUp">
      <soap12:operation soapAction="http://tempuri.org/IMASCAMSConnectService/CityConnectSignUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndividual">
      <soap12:operation soapAction="http://tempuri.org/IMASCAMSConnectService/GetIndividual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostIndividual">
      <soap12:operation soapAction="http://tempuri.org/IMASCAMSConnectService/PostIndividual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Relationships">
      <soap12:operation soapAction="http://tempuri.org/IMASCAMSConnectService/Relationships" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOffDebtIndividuals">
      <soap12:operation soapAction="http://tempuri.org/IMASCAMSConnectService/SetOffDebtIndividuals" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Organization">
      <soap12:operation soapAction="http://tempuri.org/IMASCAMSConnectService/Organization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MASCAMSConnectService">
    <wsdl:port name="WSHttpBinding_IMASCAMSConnectService" binding="tns:WSHttpBinding_IMASCAMSConnectService">
      <soap12:address location="https://masc-ams.vc3.com/eweb/webservices/MASCAMSConnectService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://masc-ams.vc3.com/eweb/webservices/MASCAMSConnectService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>