Parker.Sandbox/Service References/AMSConnect/MASCAMSConnectService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MASC.AMS.ClienteWeb.services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MASC.AMS.ClienteWeb.services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://masc-ams.vc3.com/eweb/webservices/MASCAMSConnectService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MASC.AMS.ClienteWeb.services.ViewModels" />
  <xs:complexType name="MASCServiceError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MASCServiceError" nillable="true" type="tns:MASCServiceError" />
  <xs:complexType name="MASCServiceResultOfArrayOfOrganizationIndividualViewModeljq5QS4_St">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="MASCServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MASC.AMS.ClienteWeb.services" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfOrganizationIndividualViewModel" Namespace="http://schemas.datacontract.org/2004/07/MASC.AMS.ClienteWeb.services.ViewModels" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="tns:MASCServiceError" />
      <xs:element minOccurs="0" name="HttpStatusCode" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MASC.AMS.ClienteWeb.services.ViewModels" minOccurs="0" name="ViewModel" nillable="true" type="q1:ArrayOfOrganizationIndividualViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MASCServiceResultOfArrayOfOrganizationIndividualViewModeljq5QS4_St" nillable="true" type="tns:MASCServiceResultOfArrayOfOrganizationIndividualViewModeljq5QS4_St" />
</xs:schema>