Parker.Sandbox/Service References/AMSConnect/MASCAMSConnectService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://masc-ams.vc3.com/eweb/webservices/MASCAMSConnectService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MASC.AMS.ClienteWeb.services.ViewModels" />
  <xs:element name="CityConnectSignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MASC.AMS.ClienteWeb.services.ViewModels" minOccurs="0" name="model" nillable="true" type="q1:CityConnectSignupViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CityConnectSignUpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIndividual">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIndividualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MASC.AMS.ClienteWeb.services.ViewModels" minOccurs="0" name="CreateIndividualResult" nillable="true" type="q2:IndividualViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MASC.AMS.ClienteWeb.services.ViewModels" minOccurs="0" name="SearchResult" nillable="true" type="q3:ArrayOfIndividualViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>