Parker.Sandbox/Service References/AMSConnect/MASCAMSConnectService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://masc-ams.vc3.com/eweb/webservices/MASCAMSConnectService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MASC.AMS.ClienteWeb.services.ViewModels" />
  <xs:import schemaLocation="https://masc-ams.vc3.com/eweb/webservices/MASCAMSConnectService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MASC.AMS.ClienteWeb.services" />
  <xs:import schemaLocation="https://masc-ams.vc3.com/eweb/webservices/MASCAMSConnectService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CityConnectSignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MASC.AMS.ClienteWeb.services.ViewModels" minOccurs="0" name="model" nillable="true" type="q1:CityConnectSignupViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CityConnectSignUpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndividual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerIdentifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="relationshipTypeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndividualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MASC.AMS.ClienteWeb.services.ViewModels" minOccurs="0" name="GetIndividualResult" nillable="true" type="q2:IndividualViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostIndividual">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MASC.AMS.ClienteWeb.services.ViewModels" minOccurs="0" name="model" nillable="true" type="q3:IndividualViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostIndividualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MASC.AMS.ClienteWeb.services.ViewModels" minOccurs="0" name="PostIndividualResult" nillable="true" type="q4:IndividualServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Relationships">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MASC.AMS.ClienteWeb.services.ViewModels" minOccurs="0" name="models" nillable="true" type="q5:ArrayOfOrganizationIndividualViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelationshipsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MASC.AMS.ClienteWeb.services" minOccurs="0" name="RelationshipsResult" nillable="true" type="q6:MASCServiceResultOfArrayOfOrganizationIndividualViewModeljq5QS4_St" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOffDebtIndividuals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="criteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOffDebtIndividualsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MASC.AMS.ClienteWeb.services.ViewModels" minOccurs="0" name="SetOffDebtIndividualsResult" nillable="true" type="q7:ArrayOfIndividualViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Organization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountingCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="relationshipTypeCodes" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MASC.AMS.ClienteWeb.services.ViewModels" minOccurs="0" name="OrganizationResult" nillable="true" type="q9:OrganizationViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>